body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

img {
  width: 100px;
}

h1, h2, h3, p {
  margin: 0;
}

.header {
  background-image: url(img/bertioga1.jpg);
  background-size: cover;
  height: 390px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title {
  background-color: #00b4d8;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
}

.subtitle {
  background-color: #90e0ef;
  margin-top: 10px;
  padding: 9px 18px;
  border-radius: 10px;
  color: white;
  text-shadow: 0px 0px 1px black;
  font-weight: bold;
}

.activities {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #d5f8ff;
  text-align: center;
  padding-top: 50px;
  color: #03045e;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
}

.round-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.highlights {
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 15px;
}

.highlights h3 {
  font-size: 16px;
}

#space {
  height: 36px;
}

.guide {
  max-width: 1000px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #51d4d6;
  display: flex;
  width: 400px;
  border-radius: 15px;
  padding: 30px;
  color: #03045e;
  border-bottom: 5px solid #22577a;
  box-shadow: 1px 1px 4px;
}

.avatar {
  height: 245px;
  width: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
}

.card-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
  text-align: center;
}

.card-txt p {
  font-style: italic;
}

.card-txt h4 {
  margin: 0;
}