* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-img {
  max-width: 300px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "card-img card-title card-title"
    "card-img card-p card-p"
    "card-img card-span card-btn";
  gap: 20px;
}
