* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: 
  "sidebar header header"
  "sidebar content content"
  "sidebar footer footer";
  gap: 1px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
  background-color: orange;
  border: 1px solid brown;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.header {
  grid-area: header;
}