body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 26rem;
  height: 19rem;
  margin: 70px auto;
  justify-content: space-around;
  text-align: center;
  background-color: #232e5f;
  color: #fff;
  padding: 2rem;
  padding-top: 2.5rem;
  position: relative;
  box-shadow: 1px 1px 4px #232e5f;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0;
  padding-bottom: 0.90rem;
}

.screen {
  width: 9.37rem;
  height: 7.5rem;
  background-color: #080001;
  color: #f94f6d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.60rem;
  font-family: 'Cursed Timer ULiL', sans-serif;
  border-radius: 5px;
  margin-bottom: 1.1rem;
}

.number {
  height: 5rem;
}

button {
  font-family: 'Cursed Timer ULiL', sans-serif;
  width: 2.81rem;
  height: 2.81rem;
  background-color: #232e5f;
  color: #9aa8db;
  font-size: 1.12rem;
  border: 2px solid #9aa8db;
  border-radius: 5px;
  padding-top: .4rem;
  cursor: pointer;
}

button:hover {
  background-color: #4052a7;
}

#new-game {
  position: absolute;
  bottom: 25px;
  color: #9aa8db;
  font-size: 1.12rem;
  border: 2px solid #9aa8db;
  border-radius: 5px;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  width: 8.5rem;
  padding-bottom: 0.3rem;
}


